.chat-main
   
   .chat-main__header
      
      .chat-main__header-group
         = @group.name
         .member
            Members : 
            - @group.users.each do |user|
               = user.name
      .chat-main__header-edit
         = link_to "Edit", edit_group_path(@group), class:"edit" 

   .chat-main__messages
      = render @messages
      .chat-main__messages-post

         .chat-main__messages-post-box

            .chat-main__messages-post-box-name
               name
      
            .chat-main__messages-post-box-date
               2020/03/14(Sat) 11:00:00

         .chat-main__messages-text
            おはよう
      
   .main-form
      = form_for [@group, @message] do |f| 
         .main-form__new

         .main-form__new-message
            .main-form__new-message-input
               = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
               =f.label :image, class:'input-box__pictur' do
                  = icon('fas', 'image', class: 'icon')
                  =f.file_field :image, class:'input-box__file'

               =f.submit 'Send', class:'main-form__new-message-submit-btn'